version: "3.9"

services:

  postgres:
    image: postgres:15
    container_name: taskmanager-postgres
    restart: always
    environment:
      POSTGRES_DB: taskdb
      POSTGRES_USER: task_user
      POSTGRES_PASSWORD: task_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: taskmanager-backend
    ports:
      - "8085:8085"
    depends_on:
      - postgres
    restart: always

volumes:
  postgres_data:
